<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="GestionActividadFisica"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=(local);Initial Catalog=GestionActividadFisica;
			 User Id=sa;Password=fnsp;Connection timeout=300;TrustServerCertificate=True;"
			 />
		
	</connectionStrings>
</configuration>